[submodule "chef/cookbooks/homebrew"]
	path = chef/cookbooks/homebrew
	url = git://github.com/seryl/homebrew.git
[submodule "chef/cookbooks/dmg"]
	path = chef/cookbooks/dmg
	url = git://github.com/opscode-cookbooks/dmg.git
